certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
eventemitter==0.2.0
gevent==26.5.0
gevent-eventemitter==2.1
greenlet==3.5.2
idna==3.18
protobuf==3.20.3
pycryptodomex==3.23.0
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pywin32==312
requests==2.34.2
shiboken6==6.11.1
six==1.17.0
steam==1.4.4
urllib3==2.7.0
vdf==3.4
zope.event==6.2
zope.interface==8.5